Codigo/.vs/ProjectEvaluation/aluguelink.metadata.v9.bin
Codigo/.vs/ProjectEvaluation/aluguelink.projects.v9.bin
Codigo/.vs/ProjectEvaluation/aluguelink.strings.v9.bin
Codigo/AlugueLinkWEB/obj/Debug/net9.0/AlugueLinkWEB.AssemblyInfo.cs
Codigo/AlugueLinkWEB/obj/Debug/net9.0/AlugueLinkWEB.AssemblyInfoInputs.cache
Codigo/AlugueLinkWEB/obj/Debug/net9.0/AlugueLinkWEB.assets.cache
Codigo/AlugueLinkWEB/obj/Debug/net9.0/AlugueLinkWEB.csproj.AssemblyReference.cache
Codigo/AlugueLinkWEB/obj/Debug/net9.0/AlugueLinkWEB.GeneratedMSBuildEditorConfig.editorconfig
Codigo/AlugueLinkWEB/obj/Debug/net9.0/rpswa.dswa.cache.json
Codigo/AlugueLinkWebTests/bin/Debug/net9.0/.msCoverageSourceRootsMapping_AlugueLinkWebTests
Codigo/AlugueLinkWebTests/obj/Debug/net9.0/AlugueLinkWebTests.AssemblyInfo.cs
Codigo/AlugueLinkWebTests/obj/Debug/net9.0/AlugueLinkWebTests.AssemblyInfoInputs.cache
Codigo/AlugueLinkWebTests/obj/Debug/net9.0/AlugueLinkWebTests.assets.cache
Codigo/AlugueLinkWebTests/obj/Debug/net9.0/AlugueLinkWebTests.csproj.AssemblyReference.cache
Codigo/AlugueLinkWebTests/obj/Debug/net9.0/AlugueLinkWebTests.GeneratedMSBuildEditorConfig.editorconfig
Codigo/Core/obj/Debug/net9.0/Core.AssemblyInfo.cs
Codigo/Core/obj/Debug/net9.0/Core.AssemblyInfoInputs.cache
Codigo/Core/obj/Debug/net9.0/Core.assets.cache
Codigo/Core/obj/Debug/net9.0/Core.GeneratedMSBuildEditorConfig.editorconfig
Codigo/Service/obj/Debug/net9.0/Service.AssemblyInfo.cs
Codigo/Service/obj/Debug/net9.0/Service.AssemblyInfoInputs.cache
Codigo/Service/obj/Debug/net9.0/Service.assets.cache
Codigo/Service/obj/Debug/net9.0/Service.GeneratedMSBuildEditorConfig.editorconfig
Codigo/ServiceTests/bin/Debug/net9.0/.msCoverageSourceRootsMapping_ServiceTests
Codigo/ServiceTests/obj/Debug/net9.0/ServiceTests.AssemblyInfo.cs
Codigo/ServiceTests/obj/Debug/net9.0/ServiceTests.AssemblyInfoInputs.cache
Codigo/ServiceTests/obj/Debug/net9.0/ServiceTests.assets.cache
Codigo/ServiceTests/obj/Debug/net9.0/ServiceTests.csproj.AssemblyReference.cache
Codigo/ServiceTests/obj/Debug/net9.0/ServiceTests.GeneratedMSBuildEditorConfig.editorconfig
Codigo/.vs/AlugueLink/FileContentIndex/1aeb5d7f-9baf-4cff-af22-4cf3f9c1cb04.vsidx
Codigo/.vs/AlugueLink/FileContentIndex/b39de57d-57cd-4f8e-84f7-917dc6c22588.vsidx
Codigo/.vs/AlugueLink/CopilotIndices/17.14.1091.29919/CodeChunks.db
Codigo/.vs/AlugueLink/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
Codigo/.vs/AlugueLink/DesignTimeBuild/.dtbcache.v2
Codigo/.vs/AlugueLink/v17/.futdcache.v2
Codigo/.vs/AlugueLink/v17/.suo
Codigo/.vs/AlugueLink/v17/DocumentLayout.backup.json
Codigo/.vs/AlugueLink/v17/DocumentLayout.json
Codigo/.vs/ProjectEvaluation/aluguelink.metadata.v9.bin
Codigo/.vs/ProjectEvaluation/aluguelink.projects.v9.bin
Codigo/.vs/ProjectEvaluation/aluguelink.strings.v9.bin
Codigo/.vs/AlugueLink/CopilotIndices/17.14.1091.29919/CodeChunks.db
